body {
  margin: 75px;
  color: #fff;
}
.text-success {
  color: #0f0;
}
.side, .main {
  display: inline-block;
}
.side {
  border-right: 1px solid;
  padding-right: 35px;
  text-align: right;
  width: 185px;
}
.main {
  padding: 45px 35px;
  width: 50%;
}
.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
i {
  padding: 25px;
}
