body {
  display: none;
  /*background: #000;*/
}
.test,
.headline {
  font-weight: 800;
}
.sm-caps {
  font-variant: small-caps;
}
.info {
  border-left: 1px #999 solid;
}
.info p {
  margin-top: 15px;
  font-size: 0.9em;
  font-weight: 400;
  text-decoration: none;
}
.row {
  margin: 25px;
}
.text-col {
  border-top: 1px #333 solid;
  padding-top: 25px;
}
.title {
  color: #333;
  text-decoration: underline;
}
footer {
  margin: 50px 0 25px 0;
  border-top: 1px #333 solid;
}
footer p {
  letter-spacing: 4px;
  margin-top: 15px;
  text-align: center;
}
footer .date {
  font-size: 0.8em;
}
@media (min-width: 1000px) {
  .container {
    max-width: 950px;
  }
}
