@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);

body {
  margin: 10%;
  background-color: #008db6;
  background-image: linear-gradient(161deg, #008db6 0%, #35005f 100%);
  background-attachment: fixed;
  font-family: 'Orbitron', sans-serif !important;
  font-size: 15pt;
  color: #ffffff;
}
.container, #home, #about, #portfolio, #connect {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#home, #about, #portfolio, #connect {
  width: 100%;
  border: 1px solid #fff;
}

.nav-custom {
  font-variant: small-caps;
  margin-bottom: 50px;
}

.nav-custom > li > a:link, a:visited {
  background: rgba(0,0,0,0.0) !important;
}

.nav-custom > li > a:hover, a:active {
  text-decoration: underline;
  color: #fff;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
a:link, a:visited {
  color: #fff;
}
a:hover, a:active {
  color: #ddd;
}

.col-sm-8 {
  height: 200px;
  position: relative;
}

body, #about, #portfolio, #connect {
  display: none;
}
