@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);

body {
  margin: 10%;
  background-color: #008db6;
  background-image: linear-gradient(161deg, #008db6 0%, #35005f 100%);
  background-attachment: fixed;
  color: #ffffff;
  font-family: 'Orbitron', sans-serif !important;
  font-size: 15pt;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-custom {
  margin-bottom: 100px !important;
}
ul li {
  list-style: none;
}
li {
  margin-top: 15px;
  margin-bottom: 15px;
}
a:link, a:visited, a:hover, a:active {
  line-height: 35px;
  color: #fff;
  font-variant: small-caps
}
a:link, a:visited {
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}
i {
  padding: 35px;
}
.main {
  position: relative;
  height: 200px;
}
.home, .about, .portfolio {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
