@font-face {
  font-family: 'HandSign';
  src:
    url('https://dl.dropboxusercontent.com/u/2531374/webfont/GALLAUDET.woff') format('woff'),
    url('https://dl.dropboxusercontent.com/u/2531374/webfont/GALLAUDET.ttf') format('ttf');
}

body, html {
  width: 100%;
  height: 100%;
  body: 0;
  padding: 0;
}

.container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.inner {
  border: 1px #000 solid;
}

#widget {
  font-family: 'HandSign';
  font-weight: 400;
  font-size: 9.5em;
  margin: 50px;
}
canvas {
  width: 75%;
  margin: 0 auto;
}