.container
  .row
    .col-lg-3
      .row
        .col-md-12
          .header
            h1
              a(href="http://odran037.io") leonardo
      .row
        .col-md-6
          .box
            p.icon
              a(href="https://github.com/odran037")
                i.fa.fa-github.fa-3x
                br
                span.label GitHub
        .col-md-6
          .box
            p.icon
              a(href="https://codepen.io/odran037")
                i.fa.fa-codepen.fa-3x
                br
                span.label CodePen
      .row
        .col-md-6
          .box
            p.icon
              a(href="https://www.linkedin.com/in/odran037")
                i.fa.fa-linkedin.fa-3x
                br
                span.label LinkedIn
        .col-md-6
          .box
            p.icon
              a(href="https://twitter.com/odran037")
                i.fa.fa-twitter.fa-3x
                br
                span.label Twitter
      .row
        .col-md-6
          .box
            p.icon
              a(href="mailto:hello@odran037.io")
                i.fa.fa-envelope-o.fa-3x
                br
                span.label Email
        .col-md-6
          .box
            p.icon
              a(href="http://odran037.io/images/LeonardoPrates.pdf")
                i.fa.fa-file-text-o.fa-3x
                br
                span.label Resume
    .col-lg-9
      .jumbotron
        .content-box
          img(src="http://media3.giphy.com/media/1MWhZzYtndW0M/200.gif", alt="")
          //iframe(src="https://www.youtube.com/embed/Vdb9IndsSXk?autoplay=1?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)
            img(src="http://media3.giphy.com/media/1MWhZzYtndW0M/200.gif", alt="")