.container
  .row
    .col-md-10
      h1.headline
        | L
        span.sm-caps eonardo 
        | P
        span.sm-caps rates
        
      p
        span Resume 
        | 
        a.btn.btn-success.btn-xs(href="#" role="button") PDF
        | 
        a.btn.btn-primary.btn-xs(href="#" role="button") DOC
        | 
        a.btn.btn-warning.btn-xs(href="#" role="button") TXT
    .col-md-2.info
      p Hayward CA 94544
      p (702) 498 - 0327
      p hello@odran037.io
      p http://odran037.io

  .row
    .col-md-12
      p.text-center
        strong View my portfolio at 
          a(href="http://odran037.io") http://odran037.io

  .row
    .col-md-12
      h3 About
    .col-md-12
      p Highly motivated and hard working individual with an insatiable apetite for learning. Passionate about programming and solving problems. Loves working in a team and able to stay positive and solve problems using expertise and research. Looking for a developement or engineering opportunity.

  .row
    .col-md-12
      h3 Skills
    .col-md-12
      p HTML5, CSS3, JavaScript, Jade, Stylus, CoffeeScript, jQuery, AngularJS, Node.js, MongoDB, Express, Ajax, JSON, REST, Git, GitHub, Heroku, DNS, FTP, Linux, OS X, Windows
      p Basic: Python, Ruby, PHP, MySQL, Apache, React, Backbone.js, Underscore
  .row
    .col-md-12
      h3 Experience
    .col-md-12
      p.title Developer Mentor – DevMountain - TX 2015 – Current
      p Responsible mentoring students and ensuring their success in learning full stack web developement.
      br
      p.title Senior Remote Support – Weebly - FL 2013 – Current
      p Responsible for providing chat and email-based support to customers relating to website design, ecommerce, email and domain DNS setup. Resolve billing issues and assist customers purchasing different products and solutions to suit their needs. Also responsible for assisting other support agents with issues and questions that require advanced support.
      br
      p.title IT Specialist - Freelance - Orange City, FL 2006 – 2013
      p Notebook and desktop repair, Home network installation and security implementation. Printer, copier and fax installation and repair. 
      br
      p.title IT Specialist - CompTech Care - Fort Myers, FL 2007
      p Provided notebook and desktop repair, network management services, implemented off-site data backup, remote assistance, designed diagrams of small and medium business networks. Set up servers, routers, switches, hubs and VPNs.
      br
      p.title Customer Service Engineer - Sal Serv., Xerox - Naples, FL 2001 – 2002
      p Performed full range of maintenance, technical diagnostics, software loads, installation, removal, retrofit of Xerox products and customer call assistance, provided customer training on assigned products in accordance with current field procedures and responsible for assigned company assets (i.e. parts, tools, communication and computing devices, vehicles).
      br
      p.title Odd jobs
      p I've travelled around the country for a few years and during that time I did freelance IT work, website maintenance, construction masonry and carpentry, worked at a retail store, at a hotel spa and fitness center, owned and operated my own retail business.
  .row
    .col-md-12
      h3 Education
    .col-md-12
      p.title DevMountain, Provo, UT – 2015
      p Fullstack web development - MEAN Stack
      br
      p.title FreeCodeCamp, Online - 2015
      p Fullstack web development - MEAN Stack
      br
      p.title CodeSchool, Online - 2014 - 2015
      p JavaScript Best Practices
      p JavaScript Road Trip 1, 2 and 3
      p Front End Foundations
      p Front End Formations
      p Shaping Up With Angular JS
      p Real Time Web With Node JS
      br
      p.title University of Central Florida - 2013
      p Certified fiber Optics Specialist in Outside Plant Cabling (CFOS/O)
      p Certified fiber Optics Specialist/Testing & Maintenance (CFOS/T)
      p Certified fiber Optics Splicing Specialist Course (CFOS/S)
      p Certified fiber Optics Technician Course (CFOT)
      br
      p.title Southwest Florida College - 2007
      p Network and System Administration/Administrator
      p Microsoft Network Engineering Studies

  .row
    .col-md-12
      h3 Languages
    .col-md-12
      p
        span.title English, Portuguese
        | &nbsp;Native
      p
        span.title Spanish
        | &nbsp;Conversational
      p
        span.title Arabic
        | &nbsp;Basic

  footer
    p
      span.sm-caps leonardo prates 
      i.fa.fa-gears &nbsp;
      span.date 2015