<div class="col-xs-6 col-xs-*">
  <p class="lead">
    <a class="text-success" href="#">codepen</a>
    &nbsp;&bull;&nbsp;
    <a class="text-success" href="#">github</a>
    &nbsp;&bull;&nbsp;
    <a class="text-success" href="#">gitlab</a>
    &nbsp;&bull;&nbsp;
    <a class="text-success" href="#">linkedin</a>
    &nbsp;&bull;&nbsp;
    <a class="text-success" href="#">odran037.io</a>
    &nbsp;&bull;&nbsp;
    <a class="text-success" href="#">leonardoprates.com</a>
    <br>these are the only places where I can be found online
    <br>anywhere else isn't me
  </p>
</div>
