#container

  header
    #logo

  #main
    h1
      i.fa.fa-th
      | &nbsp;Hello, World!
    
    p My name is Leo. I'm an aspiring software engineer.
    
    p.justify
      | A recent graduate of 
      a(href='http://www.DevMounta.in') DevMounta.in 
      | and currently attending 
      a(href='http://www.freecodecamp.com') FreeCodeCamp.com 
      | to suplement what I learned and because practice makes perfect.

    br
    
    table
      tr
        td.center
          i.fa.fa-code
        td
          a(href='http://odran037.io') odran037.io  
        td - My projects
      tr
        td.center
          i.fa.fa-github
        td
          a(href='https://github.com/odran037') GitHub 
        td - Where my code lives
      tr
        td.center
          i.fa.fa-codepen
        td
          a(href='http://codepen.io/odran037') Codepen
        td - Projects and testing
      tr
        td.center
          i.fa.fa-twitter
        td
          a(href='https://twitter.com/odran037') Twitter 
        td - I read and retweet tech
      tr
        td.center
          i.fa.fa-linkedin
        td
          a(href='https://www.linkedin.com/in/odran037') LinkedIn 
        td - The formal stuff
      tr
        td.center
          i.fa.fa-tumblr
        td
          a(href='http://darajatan.tumblr.com') Tumblr 
        td - I really like bicycles

  footer
    p أغرب الغرباء